[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gld"]
	path = gld
	url = https://github.com/newystats/gld
[submodule "skewt"]
	path = skewt
	url = https://github.com/newystats/skewt
[submodule "sld"]
	path = sld
	url = https://github.com/newystats/sld
